<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

		<listeners>
			<listener
				class-name="com.pvs.testframe.listener.ExtentTestNGITestListener" />
		</listeners>
	<test thread-count="5" name="Test">


		<classes>
			<class name="com.pvs.security.testcases.CommonTests"></class>
			<class name="com.pvs.admin.ctype.testcases.ContactTypeTest"></class>
			
			
	



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
